.app-header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1F2937;
}
.header-logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bolder;
}
.app-header > div:nth-child(2) > ul{
    display: flex;
    list-style-type:none;
    gap: 100px;
    font-size: 18px;
    color: #E5E7EB;
    cursor: pointer;
}
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: #E5E7EB;
}