html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0;
}
.container{
    height: 88%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.companyBox{
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: #1F2937;
}
.companyBox > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 300px;
    padding: 10px;
    font-size: 18px;
    color: #E5E7EB;
    gap: 10px;
}
.companyBox > div:nth-child(1) > div:nth-child(1){
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
}
.sign-up-btn{
    border: 2px solid #3882F6;
    background-color: #3882F6;
    padding: 10px;
    border-radius: 8px;
}
.sign-up-btn:hover{
    cursor: pointer;
}
.companyBox > div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 250px;
    background-color: #E5E7EB;
}

.testBox{
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.testBox > div:nth-child(1){
    font-size: 36px;
    color: #1F2937;
    font-weight: bolder;
}
.testSection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.testA, .testB{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.testA > div:nth-child(1):hover, .testB > div:nth-child(1):hover{
    cursor: pointer;
}
.testA > div:nth-child(1), .testB > div:nth-child(1){
    border: 4px solid #3882F6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    border-radius: 8px;
    font-size: 24px;
    font-weight: bold;
}
.testA > div:nth-child(2), .testB > div:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.quoteBox{
    flex: 1;
    width: 100%;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    font-weight: light;
}